USE [master]
GO
/****** Object:  Database [MenuManage]    Script Date: 2019/3/12 12:19:35 ******/
CREATE DATABASE [MenuManage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MenuManage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MenuManage.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MenuManage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MenuManage_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MenuManage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MenuManage]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2019/3/12 12:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Prold] [int] NOT NULL,
	[ProName] [nvarchar](20) NOT NULL,
	[ProPic] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ProInfo] [nvarchar](500) NOT NULL,
	[Typeld] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Prold] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProType]    Script Date: 2019/3/12 12:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProType](
	[Typeld] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ProType] PRIMARY KEY CLUSTERED 
(
	[Typeld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Product] ([Prold], [ProName], [ProPic], [Price], [ProInfo], [Typeld]) VALUES (2, N'东坡肉', N'8.jpg', CAST(88.00 AS Decimal(18, 2)), N'东坡肉很好吃', 1)
INSERT [dbo].[Product] ([Prold], [ProName], [ProPic], [Price], [ProInfo], [Typeld]) VALUES (3, N'凉拌三丝', N'9.jpg', CAST(48.00 AS Decimal(18, 2)), N'凉拌三丝很好吃', 1)
SET IDENTITY_INSERT [dbo].[ProType] ON 

INSERT [dbo].[ProType] ([Typeld], [TypeName]) VALUES (1, N'火锅')
INSERT [dbo].[ProType] ([Typeld], [TypeName]) VALUES (2, N'热菜')
INSERT [dbo].[ProType] ([Typeld], [TypeName]) VALUES (3, N'凉菜')
SET IDENTITY_INSERT [dbo].[ProType] OFF
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProType] FOREIGN KEY([Typeld])
REFERENCES [dbo].[ProType] ([Typeld])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProType]
GO
USE [master]
GO
